html
    head
        title Food Graph
        link(rel='stylesheet', href='/assets/css/food.css')

    body

        div#chart

        script(src='/assets/js/loader.js')
        script(src='/assets/js/food.js')