html
    head
        title Food Graph
        link(rel='stylesheet', href='/assets/css/food.css')

    body

        div#chart
            p Hello World

        script(src='https://www.gstatic.com/charts/loader.js')
        script(src='/assets/js/food.js')