html
    head
        title APS
        link(rel='stylesheet', href='/assets/css/main.css')

    body

        div.outer
            div.inner
                h1 Server Logs
                a(href='#')#reload
                    i(class='gg-sync')
                a(href='/api-docs' target='_blank')#docs
                    i(class='gg-file-document')

            div.logs
                each log, index in logs
                    div.log
                        span #{index + 1}
                        p #{log}
                    br

                p.cursor -

            div.line

        script(src='/assets/js/main.js')