html, body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/assets/images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.outer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: #0e1e25;
    height: 70%;
    width: 70%;
}

.line {
    border-left: 1px solid #707B7C;
    height: 100%;
    position: absolute;
    left: 76px;
    top: 0;
}

.inner {
    position: absolute;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: #004A4A;
    border-radius: 15px 15px 0 0;
    z-index: 100;
}

.inner h1 {
    color: white;
    position: absolute;
    top: 10%;
    left: 3%;
}

.inner a {
    padding: 16px;
    position: absolute;
    background-color: #707B7C;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    border-radius: 8px;
}

.inner #reload{
    top: 26%;
    right: 8%;
}

.inner #docs {
    top: 26%;
    right: 3%;
}

.logs {
    height: 100%;
    overflow-y: scroll;
    border-radius: 15px;
}

::-webkit-scrollbar {
    display: none;
}

.log:first-child {
    margin-top: 120px;
}

.log {
    display: flex;
    position: relative;
}

.log span {
    position: relative;
    left: 33px;
    color: #C6C6C6;
}

.log p {
    color: #C6C6C6;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    left: 115px;
}

.cursor {
    font-size: 30px;
    font-weight: 100;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
    margin-top: -15px !important;
    margin-left: 115px;
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-moz-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-webkit-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-ms-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-o-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

.gg-file-document {
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 18px;
    border: 2px solid transparent;
    border-right: 0;
    border-top: 0;
    box-shadow: 0 0 0 2px;
    border-radius: 1px;
    border-top-right-radius: 4px;
    overflow: hidden
}

.gg-file-document::after,
.gg-file-document::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.gg-file-document::before {
    background: currentColor;
    box-shadow:
            0 4px 0,
            -6px -4px 0;
    left: 0;
    width: 10px;
    height: 2px;
    top: 8px
}

.gg-file-document::after {
    width: 6px;
    height: 6px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    right: -1px;
    top: -1px
}

.gg-sync {
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    border-radius: 40px;
    border: 2px solid;
    border-left-color: transparent;
    border-right-color: transparent;
    width: 18px;
    height: 18px;
}

.gg-sync::after,
.gg-sync::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    transform: rotate(-45deg)
}

.gg-sync::before {
    border-left: 6px solid;
    bottom: -1px;
    right: -3px
}

.gg-sync::after {
    border-right: 6px solid;
    top: -1px;
    left: -3px
}